@model IEnumerable<TabloidMVC.Models.UserProfile>

@{
    ViewData["Users"] = "Index";
}

<h1>List of Current Users</h1>


<div class="container pt-5">
<table class="table table-striped">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
        </tr>
}
    </tbody>
</table>
</div>